/* Project specific styles here */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto" sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('notepad.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text1 {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}
h1 {
    color:white;
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    margin-top: 10%;
}
h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    /* margin-top: 280px; */
}
.text2 {
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}
.text3 {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-left: 0px;
    margin-top: 0px;
}
.content-center{
    display: flex;
    justify-content: center;
}
button {
    width: 320px;
    height: 50px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid rgba(0,0,0,0.2);
    color: white;
    font-family: "Roboto" sans-serif;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
}
.content-center input {
    display: block;
    width: 320px;
    height: 50px;
    background: rgba(0,0,0,0.0);
    outline: none;
    border: 1px solid rgba(0,0,0,0.2);
    font-family: "Roboto" sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
} 

#topMenuContainer {
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    margin: 0;
    padding: 0;
}
.modal-body {
    background: rgba(0,0,0,0.1);
    font-family: "Roboto" sans-serif;
    text-transform: uppercase;
    color: rgba(0,0,0,0.6);
    font-weight: normal;
    
}
.modal-header {
    background: rgb(252, 121, 61);
    color: white;
    font-size: 22px;
    font-weight: bolder;
}
.modal-footer button {
    border: 1px solid rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    
}

h3 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    text-align: center;

}

#myMedDataForms {
    font-size: 14px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
    margin: auto;
    width: 90%;

}
.myTempForm input {
    height: 50px;
    font-family: "Roboto" sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.myExcrementForm input {
    width: 35px;
    height: 35px;
    margin-left: 25%;

}

.myUrineForm input {
    width: 35px;
    height: 35px;
    margin-left: 25%;

}

.myVomitForm input {
    width: 35px;
    height: 35px;
    margin-left: 25%;
}

.buttonClear {
    width: 120px;
    border: 2px solid rgba(0,0,0,0.2);
    margin: 5px;
 

}
.buttonSave {
    width: 120px;
    border: 2px solid rgba(0,0,0,0.2);
    background-color: rgb(252, 121, 61);
    margin: 5px;

}


.btn1 {
    background-color: rgb(6, 175, 108);
    width: 80px;
    height: 30px;
    border: none; 
    color: white;
    margin: 5px; 
    font-size: 12px;
    cursor: pointer;

  }
  
  .btn1:hover {
    background-color: rgb(6, 145, 89);
  }
  .btn2 {
    background-color: rgb(248, 92, 19); 
    width: 80px;
    height: 30px;
    border: none; 
    color: white;
    margin: 5px;
    font-size: 12px; 
    cursor: pointer; 
  }
  .btn2:hover {
    background-color: rgb(223, 73, 4);
  }


